
conda {
  enabled = true
  autoActivate = true
}

// Optional/default parameters
params.R_env             = "${projectDir}/conda_envs/simulate_conta_rarefaction_env.yml"
params.simulation_script = "${projectDir}/Rscript/simulationContamination.R"

params.meteor_env        = "${projectDir}/../meteor2_wf/conda_envs/meteor_env.yml"
params.gene_catalogue    = "hs_10_4_gut"
params.fastq_extension   = '.fastq.gz'
params.cpus = 8